node_modules/
dist/
dist-ssr/
release/
supabase/.temp/cli-latest
.env
.env.local
*.local
*.log
*.jks
*.keystore
*.p12
*.mobileprovision
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.claude/
